{% extends "master.html" %}

{% block title %}
  Daftar Produk
{% endblock  %}

{% block content %}
  <div class="all-products">
    <h1>Daftar Produk Siap Jual</h1>
    <p>Kembali ke Semua <a href="/">Produk</a></p>
    <table>
      <tr>
        <th>Nama Produk</th>
        <th>Harga</th>
        <th>Kategori</th>
      </tr>
      {% for produk in myproducts %}
      <tr>
        <td><a href="details/{{ produk.id_produk }}" style="text-decoration: inherit; color: inherit">{{ produk.nama_produk }}</a></td>
        <td>{{ produk.harga }}</td>
        <td>{{ produk.kategori.nama_kategori }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
{% endblock  %}
